.idea/
.data/
__pycache__/
*.bak
.ipynb_checkpoints
.DS_Store
env/test.yml
*.egg-info
*.pyc
test-docker
cloud-function/gcloud-build-slack/.gcloudignore
config.txt
docker/derived-tf-gpu/Dockerfile_backup
